body {font-size:115%;
background:#B98D9E;
margin-top: 100px;}

.col1 {width: 200px;
text-decoration: underline;
text-align:center;}
.col2 {width:80%;}
.col3 {width:200px;}
table {margin: 0 4%;}
p {margin: 10px 4% 0 4%}

.loc{text-decoration:underline;}
.time {background:yellow;}
.date {color:blue;}
.tech {font-weight:bold}
.tb {border: 2px black}
h2{margin-left:6%}
h1{text-align: center;}