body {

    font-family: "Monaco", monospace;
    font-size: 130%;
    cursor: pointer;
}

body.light {
    background-color: #66717E;
}
body.light.ON {
    background-color: lightblue;
}


p {
    font-size: 17px;
    text-align: left}


span {
    background-color: white;
}
h1 {
    padding: 0px 10px 10px 100px;
    font-size: 250%}
h2 {
    text-align: center;
    font-size: 35px}
h3 {

    font-size: 30px;
    text-align: center}
h4 {
    padding-left: 40px;
    font-size: 15px}
ul {
    line-height: 1
}
figcaption {
    font-size: 13px;
    text-align: center;
}
iframe {
    border: 0;
    border-style: none;
    width: 90%;
    height: 780px;
}
img {
    max-width: 1000px;
}
/* NAV********************************************************** */
nav#nav {
    color: #D4D6B9;
    margin: 0;
    background-color: #383B53;
}

nav {
    min-width: 70%;
    width: 100%;
    margin: 0;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* CONTENT******************************************************* */
.cent {
    text-align: center;
}

.head {
    padding: 0px 10px 10px 100px;
    font-size: 250%}

.post {

    top: 200px;
    background-color: #D1CAA1;
    width: 300px;
    border: 15px solid #383B53;
    padding: 50px 20px 50px 20px;
    margin: 20px;
}
.post.ON {
    top: 200px;
    background-color: #D1CAA1;
    width: 600px;
    border: 15px solid #383B53;
    padding: 50px 20px 50px 20px;
    margin: 20px;
}
.post2 {

    top: 200px;
    background-color: #D1CAA1;
    width: 600px;
    border: 15px solid #383B53;
    padding: 50px 20px 50px 20px;
    margin: 20px;
}

.photo {
    max-width: 175px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid #383B53;
}

/* ABOUT****************************************************** */
.about {
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1CAA1;
    width: 1000px;
    border: 5px solid #383B53;
    padding: 50px 20px 50px 20px;
}

.gallery {
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1CAA1;
    width: 1000px;
    border: 5px solid #383B53;
    padding: 50px 20px 50px 20px;
}
/* RESUME PAGE********************************************************** */
.res {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1CAA1;
    width: 1000px;
    border: 5px solid #383B53;
    padding: 10px 20px 50px 20px;
}

.res div h3 {
    padding: 8px 0px 0px 0px;
    text-decoration: underline;
    line-height: .1;
    text-align: left;
}

/* REFERENCE PAGE*************************************************** */
.ref {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1CAA1;
    width: 1300px;
    border: 5px solid #383B53;
    padding: 10px 20px 50px 20px;
}
.ref h3 {
    text-align: center
}
.ref p {
    text-indent: 50px;
    padding-top: 50px;
}

/* IMAGES **************************************************************** */
.img-container {
    float: left;
    padding: 5px;
    max-width: 40%;
}
.img-container img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* COMPARE************************************************************* */
.comp {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1CAA1;
    width: 1300px;
    border: 5px solid #383B53;
    padding: 10px 20px 50px 20px;
}
.comp h3 {
    text-align: center
}
.comp p {
    text-indent: 50px;
    padding-top: 50px;
}

/* .button {
    background-color: #a3a3c2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button:hover {background-color: #e0e0eb;
color: black;} */


/* IMDEX BUTTONS******************************************************** */
.indexbut {
    background-color: #383B53;
    color: #D4D6B9;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.indexbut:hover {
    background-color: #32213A;
    color: #D4D6B9;
}



.indexbut2 {
    background-color: #383B53;
    border: none;
    color: #D4D6B9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
    word-spacing: 0px}

.indexbut2:hover {
    background-color: #32213A;
    color: #D4D6B9;
}
.block2 {
    display: flex;
    background-color: #383B53;
    width: 54.5%;
    min-width: 800px;
}
body#TOP a {
    background-color: #383B53;
    border: 5px black;
    color: #D4D6B9;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
    word-spacing: 0px}

body#TOP a:hover {
    background-color: #32213A;
    color: #D4D6B9;
}

.toc {
    columns: 3
}
.tocsect {
    padding-top: 50px;
}

table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}
/* GAME******************************************************************** */
.game {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1CAA1;
    width: 1000px;
    border: 5px solid #383B53;
    padding: 10px 20px 50px 20px;
}

.game div h3 {
    padding: 8px 0px 0px 0px;
    text-decoration: underline;
    line-height: .1;
    text-align: left;
}

/* ********************************************************************** */

:root {
    --grey: #4d4d4d;
    --yellow: #D1CAA1;
    --pink: #eac7dd;

}
g .grey {
    fill: var(--grey)
}

g .eyes {
    fill: var(--yellow);
}

g .nose {
    fill: var(--pink);
}

g #lid1, #lid2 {transition: all 1s ease;}
g:hover #lid1 {
    transition: all 1s ease;
    transform: translate(0%, 10%)
}

g:hover #lid2 {
    transition: all 1s ease;
    transform: translate(0%, 10%)
}



